
.react-calendar__tile {
  position: relative;
  height: 120px;
  padding: 0;
  overflow: hidden;
  border-radius: 8px;
  vertical-align: top;
}

.react-calendar__month-view__days__day {
  position: relative;
  padding: 0;
}

.react-calendar {
  margin: 50px auto;
  width: 800px;
  max-width: 100%;
  background: white;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
}